*.lock
.mypy_cache
__pycache__
build
/assets/node_modules/*
!/assets/node_modules/emojipanel
/assets/node_modules/emojipanel/*
!/assets/node_modules/emojipanel/dist
!/assets/node_modules/normalize.css
public
resources
