.mypy_cache
__pycache__
build
/static/node_modules/*
!/static/node_modules/emojipanel
/static/node_modules/emojipanel/*
!/static/node_modules/emojipanel/dist
!/static/node_modules/normalize.css
public
