[submodule "noto-emoji"]
	path = noto-emoji
	url = https://github.com/googlei18n/noto-emoji.git
[submodule "twemoji"]
	path = twemoji
	url = https://github.com/twitter/twemoji.git
[submodule "twemoji-color-font"]
	path = twemoji-color-font
	url = https://lab.saloun.cz/jakub/twemoji-color-font
