---
layout: default
---

<div class="container">
  <h1 id="emojis-for-grown-ups">Emojis for grown-ups</h1>
  <p>
    A proposal for 31 new emojis that go beyond the hugs and kisses of the
    standard emoji set.
  </p>
</div>

<div class="white">
  <div class="container">
    <h2 class="sr-only">New emojis</h2>
    <ul class="emojis emojis--custom">
      {% for emoji in site.data.custom_emojis %}
      <li class="emoji">
        <img
          src="svg/{{ emoji.path_base }}.svg"
          alt="{{ emoji.display_name }} emoji"
          class="emoji-img"
        />
        <h3>{{ emoji.display_name }}</h3>
        <p class="emoji-description">{{ emoji.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container">
  <h2 id="try-it-out">Try it out</h2>
  <p>
    You can write the new emojis by writing specific sequences of the standard
    emojis.
  </p>
  <ul class="emojis emojis--sequences">
    {% for emoji in site.data.custom_emojis %}
    <li class="emoji">
      <span class="emoji-string" title="{{ emoji.display_name }} emoji"
        >{{ emoji.string }}</span
      >
      =
      <span class="emoji-string">{{ emoji.sequence }}</span>
    </li>
    {% endfor %}
  </ul>
  <!-- TODO On screen keyboard -->

  <h2 id="download">Download</h2>

  <p>
    Emojis for grown-ups are currently available as an Emoji font. This font is
    based on
    <a href="https://twitter.github.io/twemoji/">Twitter’s emojis</a> so it also
    contains <a href="#all-emojis">all standard emojis</a>.
  </p>

  <ul>
    <li>Linux and Android: <a href="dist/Emoji.ttf">Emoji.ttf</a></li>
    <li>Webfont: <a href="dist/Emoji.zip">Emoji.zip</a></li>
    <li>
      Windows: Not technically possible, because Windows doesn’t support the
      format of Twitter’s emoji font.
      <!-- TODO: Add name of the font format -->
    </li>
    <li>
      iOS: Not technically possible, because Apple doesn’t allow changing the
      system font.
      <!-- TODO: Cite some source -->
    </li>
  </ul>

  <h2 id="making-these-emojis-official">Making these emojis official</h2>

  <p>
    Emojis are approved by the Unicode consorcium. There are rigorous rules to
    that.
  </p>

  <p>A table of submissions:</p>

  <table>
    <thead>
      <tr>
        <th>emoji</th>
        <th>status</th>
        <th>reason</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>foo</td>
        <td>bar</td>
        <td>baz</td>
      </tr>
    </tbody>
  </table>

  <h2 id="contributing-and-contact">Contributing and contact</h2>

  <p>
    If you have a suggestion for more emojis to add or if you have technical
    problems with the emojis, please file a
    <a href="https://www.github.com/jakubvalenta/emoji/issues">GitHub issue</a>.
  </p>

  <p>
    You can also write me an email (for whatever reason) to
    <script>
      document.write(
        '<n uers="rzbwv@znvyobk.bet" ery="absbyybj">rzbwv@znvyobk.bet</n>'.replace(
          /[a-zA-Z]/g,
          function(c) {
            return String.fromCharCode(
              (c <= 'Z' ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26
            );
          }
        )
      );
    </script>
  </p>
</div>

<div class="white">
  <div class="container">
    <h2 id="all-emojis">All emojis</h2>

    <p>
      For reference, here is a full list of all standard emojis plus the new
      ones:
    </p>

    <ul class="emojis emojis--all">
      {% for emoji in site.data.all_emojis %}
      <li class="emoji{% if emoji.custom %} emoji--custom{% endif %}">
        <h3 class="emoji-string" title="{{ emoji.code }} {{ emoji.name }}">
          {{ emoji.string }}
        </h3>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="container">
  <p>Copyright 2019 <a href="https://www.jakubvalenta.cz/">Jakub Valenta</a></p>
  <p>
    The code is licensed under the
    <a href="http://www.apache.org/licenses/LICENSE-2.0"
      >Apache License, Version 2.0</a
    >.
  </p>
  <p>
    The graphics (emoji SVG images) are licensed under the
    <a href="http://creativecommons.org/licenses/by-sa/4.0/"
      >Creative Commons Attribution-ShareAlike 4.0 International License</a
    >.
  </p>
</div>
