---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}" />
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
    </head>
    <body>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        {% for emoji in site.data.emoji %}
        <div class="emoji{% if emoji.standard %} emoji--standard{% endif %}">
            <p class="emoji-string" title="{{ emoji.title }}">{{ emoji.string }}</p>
            <div class="emoji-details">
                <p class="emoji-name">{{ emoji.name }}</p>
                <p class="emoji-sequence">{{ emoji.sequence }}</p>
                <p class="emoji-code"><code>{{ emoji.code }}</code></p>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
