<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ htmlUnescape . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    {{ $style_normalize := resources.Get "node_modules/normalize.css/normalize.css" -}}
    {{ $style_emojipanel := resources.Get "node_modules/emojipanel/dist/emojipanel.css" -}}
    {{ $style_main := resources.Get "sass/main.scss" | resources.ToCSS -}}
    {{ $all_styles := slice $style_normalize $style_emojipanel $style_main -}}
    {{ $bundle_styles := $all_styles | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $bundle_styles.Permalink }}">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="{{ .Site.Title }}" />

    <meta property="og:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}">
    <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:description" content="{{ if .Params.summary }}{{ .Params.summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ with .Params.png }}png/{{ . }}{{ else }}{{ .Site.Params.image }}{{ end }}">
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <header class="container">
      {{ block "header" . }}<a href="/">&lt;- Go back to the Real Emoji list</a>{{ end }}
    </header>
    <main>
      {{ block "main" . }}
        {{- .Content -}}
      {{ end }}
    </main>
    <footer class="container">
      <div class="rich">
        {{ partial "footer.html" . }}
      </div>
    </footer>
  </body>
</html>
