{{ define "header" }}
<div class="index-header">
  <h1 id="real-emoji">{{ .Site.Title }}</h1>
  <p>{{ .Site.Params.description }}</p>
</div>
{{ end }}
{{ define "main" }}
<div class="bg-white">
  <div class="container">
    <ul class="emojis">
      {{ range where .Site.RegularPages.Reverse "Section" "emoji" }}
      <li>
        <img src="/svg/{{ .Params.svg }}" alt="{{ .Title }} emoji" />
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      </li>
      {{ end }}
    </ul>
    <ul class="index-buttons">
      <li><a href="/stickers/">get Telegram stickers</a></li>
      <li><a href="/font/">download font file</a></li>
    </ul>
  </div>
</div>
<div class="container" id="content">
  <div class="rich">
    {{ .Content }}
  </div>
</div>
{{ end }}
