{{ define "header" }}
<div class="index-header">
  <h1 id="real-emoji">{{ .Site.Title }}</h1>
  <p>{{ .Site.Params.description }}</p>
</div>
{{ end }}
{{ define "main" }}
<div class="bg-white">
  <div class="container">
    <ul class="emojis emojis--custom">
      {{ range .Site.Data.Emoji.emojis }}
      <li class="emoji">
        <img
          src="svg/{{ .filename }}"
          alt="{{ .display_name }} emoji"
          class="emoji-img"
        />
        <h3>{{ .display_name }}</h3>
      </li>
      {{ end }}
    </ul>
    <ul class="buttons">
      <li><a href="/stickers/">get Telegram stickers</a></li>
      <li><a href="/font/">download font file</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="rich">
    {{ .Content }}
  </div>
</div>
{{ end }}
